<a href="https://colab.research.google.com/github/CDAC-lab/2022-S1-OptusAIB/blob/optusudhaval%2FPreCourseWork-mods/Copy_of_OptusU_AIB_Module_2_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Python Programming for AI**

Python is a popular general-purpose programming language known for its  simplified syntax and powerful utility. Data enthusiasts and organisations from across the world use Python to explore and analyse their data. This course module focuses on Python specifically working with data and specifically in the Google Colab environment. Here you will learn how to store and manipulate data to power your analyses through Python and Google Colab.

So why is it called Python, naming a programming language after a dangerous constrictor hardly seems appropriate. It seems the creator Guido van Rossum while conceptualising the programming language was also reading the published scripts from “Monty Python’s Flying Circus” (a BBC comedy series from the 1970s. So by that inspiration named the language Python. ([Reference](https://docs.python.org/3/faq/general.html#id19))

As is customary for starting up in any programming language, let's begin by writing some text to the screen. For this purpose you are going to make use of the `print` command.

*How to run this script` - Click on Run or press [Shift key] + [Enter key] to execute each line of code.*

In [ ]:
print("Hello! Welcome to Python.")

Hello! Welcome to Python.

You can also add comments to your code which allow you to document your intentions to both your future self and others who might choose to work with your code in the future. A general rule of thumb is to use comments to lay out what you are hoping to achieve with your code before you jumping into any programming. Try to avoid stating the obvious but instead outline your intentions for the line or block of code.

In [ ]:
# Indicate to the user that the program has started by printing out a welcome message.

## Variables

Variables allow you store data that you are working on as your work through your notebook.

It is preferred to have descriptive names for variables, (such as age, name, total_sales), instead of single letters or less meaningful names (such as a, b, x etc.)  

The following are some rules for variables in Python:  

1. A variable name must start with a letter or the underscore character  
2. A variable name cannot start with a number  
3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )  
4. Variable names are case-sensitive (age, Age and AGE are three different variables)

### Coding Standards and Naming Conventions

In addition to this it is recommended to follow a naming convention when working with any programming language. There are various conventions in use these are two which are popular.

1. Python's own [coding standards](https://www.python.org/dev/peps/pep-0008/), [this section](https://www.python.org/dev/peps/pep-0008/#function-and-variable-names) talks specifically to function and variable naming.
2. Google's [coding standards](https://google.github.io/styleguide/pyguide.html), [this section](https://google.github.io/styleguide/pyguide.html#3163-file-naming) talks specifically to function and variable naming.

*Both 1) & 2) prescribe lowercase with underscore for separators in the case of function (to be discussed further down in the section) and variable naming. But if you are defining constants make use of capital casing.*


Ok back to variables, let's work through the process of converting a temperature from Farenheit to Celsius to illustrate further. The conversion is as follows;

\begin{equation}
Celsius^{\circ} = \frac{5}{9} (Farenheit ^{\circ} - 32) 
\end{equation}

In [ ]:
# setup constants for the equation
DEDUCTOR = 32
MULTIPLIER = 5/9

# setup the value to be converted
farenheit_value = 100

# setup text for displaying the information
initial_message = 'The value you are converting from Farenheit to Celsius is:'
final_message = 'The equivalent Celsius value of this is:'

# define the equation and store the celsius equivalent
celsius_equivalent_value = (farenheit_value-DEDUCTOR)*MULTIPLIER

# display our calculation
print(initial_message)
print(farenheit_value)
print(final_message)
print(celsius_equivalent_value)

The value you are converting from Farenheit to Celsius is:
100
The equivalent Celsius value of this is:
37.77777777777778

*Exercise: can you lookup how to restrict the number of decimal points?*

We had spoken about Python's dynamic typing. let's have a look at our variables from our example above and see what type they have been initialised as.

In [ ]:
print(type(farenheit_value))
print(type(celsius_equivalent_value))
print(type(final_message))

<class 'int'>
<class 'float'>
<class 'str'>

In our temperature conversion example above one thing we can notice is that the resulting value is a decimal value. Let's say we want to make it a integer value, we can achieve this using type casting. This will work for other conversion as well, such as int to string, string to float etc. If the cast is not possible an error will be thrown.

*Excercise: can you look at how to convert an number written as a string to an int*

In [ ]:
# Casting / Changing variable type
celsius_equivalent_value = int(celsius_equivalent_value)

print(celsius_equivalent_value)
print(type(celsius_equivalent_value))

37
<class 'int'>

In [ ]:
celsius_equivalent_value_str = str(celsius_equivalent_value)
print (celsius_equivalent_value_str)
print (type(celsius_equivalent_value_str))

37
<class 'str'>

## Operations

As discussed in the lecture, programming (in any language) has several high-level "operations". We discuss them below.

### Assignment and Operators

1. Arithmetic operators

In [ ]:
x = 29
y = 6

In [ ]:
# Addition
z = x + y
print(z)

35

In [ ]:
# Subtraction
z = x - y
print(z)

23

In [ ]:
# Multiplication
z = x * y
print(z)

174

In [ ]:
# Division
z = x / y
print(z)

4.833333333333333

In [ ]:
# Modulus
z = 10 % 3
print(z)

1

In [ ]:
# Exponentiation
z = 4 ** 2
print(z)

16

2. Comparison Operators

In [ ]:
4 == 4

True

In [ ]:
8 != 9

True

In [ ]:
4 > 3 and 7 < 9

True

In [ ]:
3 > 4 and 7 < 9

False

In [ ]:
3 > 4 or 7 < 9

True

### Conditions

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

###  Iterators

In [ ]:
y = [1, 2, 3] # list of numbers
for x in y:
  print(x)

1
2
3

In [ ]:
for x in range(6):  # Range(): range(start, stop, step)
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

## Functions

As you noticed in our temperature conversion example above we have written it out in a sequence of programming instructions. If we were to perform this conversion for another value, then we would needed to write them out all again. Clearly this is not practical and this is where functions come in. Functions are reusable blocks of code that an be written to perform an action or sequence of actions. In Python functions are defined by using the keyword `def`.

In general in keeping with a principle called the [Single Responsibility Principle (SRP)](https://en.wikipedia.org/wiki/Single-responsibility_principle) it is beneficial to have your function responsiple for a single action. This is generally applied to classes and modules but they are just as effective when considering functions as well.

Generally you will define all of your functions right at the top of your notebook and then use them your scripts below.

Let's rewrite our temperature conversion as a function.

In [ ]:
# define a function to convert a temperature from farenheit to celsius
def convert_temperature_from_farenheit_to_celsius_with_display(farenheit_value):
  """
    This function will take convert a temperature value farenheit to celsius.
  """
  # setup constants for the equation
  DEDUCTOR = 32
  MULTIPLIER = 5/9

  """ 
    Commenting out this block of code as we are now passing in the value to be 
    converted as a variable to the function.
  """
  # setup the value to be converted
  # farenheit_value = 100

  # setup text for displaying the information
  initial_message = 'The value you are converting from Farenheit to Celsius is:'
  final_message = 'The equivalent Celsius value of this is:'

  # define the equation and store the celsius equivalent
  celsius_equivalent_value = (farenheit_value-DEDUCTOR)*MULTIPLIER

  # display our calculation
  print(initial_message)
  print(farenheit_value)
  print(final_message)
  print(celsius_equivalent_value)

If you were to run the above block of code you would notice that there is no output. That's because we will need to call it with a task for it to perform.

In [ ]:
# Call our temperature conversion function with a value to convert.
convert_temperature_from_farenheit_to_celsius_with_display(100)
convert_temperature_from_farenheit_to_celsius_with_display(98)

The value you are converting from Farenheit to Celsius is:
100
The equivalent Celsius value of this is:
37.77777777777778
The value you are converting from Farenheit to Celsius is:
98
The equivalent Celsius value of this is:
36.66666666666667

*Exercise: How would you rewrite this function to reflect the Single Responsibility Principle?* 

Let's say we want to isolate our display tasks from our conversion task we would utilise the capability of our function to return a value.

In [ ]:
def convert_temperature_from_farenheit_to_celsius(farenheit_value):
  """
    This function will take convert a temperature value farenheit to celsius.
  """
  # setup constants for the equation
  DEDUCTOR = 32
  MULTIPLIER = 5/9

  # setup the value to be converted
  # farenheit_value = 100

  # setup text for displaying the information
  initial_message = 'The value you are converting from Farenheit to Celsius is:'
  final_message = 'The equivalent Celsius value of this is:'

  # define the equation and store the celsius equivalent
  celsius_equivalent_value = (farenheit_value-DEDUCTOR)*MULTIPLIER

  """ 
    Removing our display functionality and returning our converted value back.
  """
  # display our calculation
  # print(initial_message)
  # print(farenheit_value)
  # print(final_message)
  # print(celsius_equivalent_value)
  return celsius_equivalent_value

This means our function will just calculate our conversion and give us back the converted value. Once we have the converted value we can then proceed to either display it or perform any other action on it.

In [ ]:
celsius_value = convert_temperature_from_farenheit_to_celsius(102)

# making use of the string format function to write the return value inline with the message
print("The converted value is {} Celsius".format(celsius_value))

The converted value is 38.88888888888889 Celsius

*Exercise: What more improvements would you make to this program?*

### Lambda functions

A lambda function is an anonymous function defined without a name in python. A lambda function can take any number of arguments, but can only have one expression. Given that our example above involved a single expression we can potentially make it a lambda.

In [ ]:
# writing the temperature converter as a lambda
temperature_converter = lambda farenheit_value:(farenheit_value-32)*5/9

# declare the display message once so that we can reuse it for multiple executions.
display_message = "The converted value is {} Celsius"

# making use of the string format function to write the return value inline with the message
print(display_message.format(temperature_converter(100)))
print(display_message.format(temperature_converter(104)))

The converted value is 37.77777777777778 Celsius
The converted value is 40.0 Celsius

## Working with Strings

Python provides a rich library for working with text. Let's look at how we can use some of these features through an example;

In [ ]:
# String operations

a = "Hello, World!"
print(a[1])

b = "Hello, World!"
print(b[2:5])  # indexing starts with 0

c = "   Hello, World!   " # string with head and tail whitespaces
print(c.strip())

a = "Hello, World!"
print('Length:', len(a))

a = "Hello, World!"
print(a.lower())

a = "Hello, World!"
print(a.upper())

a = "Hello, World!"
print(a.replace("H", "J"))

a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

e
llo
Hello, World!
Length: 13
hello, world!
HELLO, WORLD!
Jello, World!
['Hello', ' World!']

Let's look to deploy these skills in a practical exercise. A common use case is extracting information about a file from the filename. The filename below has the following structure;

*Account Number#Date-in-format-yymmdd#Padding#Category#Company* 

How would we go about extracting this information?

We will be making use of the datetime library to help us with the date identification.

In [ ]:
# NGWK0M1288#21012800002000000#GLOBALM#OPTUS.zip
filename = ' NGWK0M1288#21012800002000000#GLOBALM#OPTUS.zip'

# remove the extension
filename = filename[:-4]

# remove leading and trailing whitespace
filename = filename.strip()

# split by the # delimiter
name_parts = filename.split("#")

# get the date 
date_string = name_parts[1][0:6]

from datetime import datetime

# convert to date based on the mask
# the definition of the format can be found here; https://strftime.org/
date_value = datetime.strptime(date_string, '%y%m%d')

name_parts[1] = str(date_value)
print(name_parts)

['NGWK0M1288', '2021-01-28 00:00:00', 'GLOBALM', 'OPTUS']

## Dates and Time

The datetime library provides options to deal with date and time values. In the example below we retrieve the current time and format it the way we want. 

Further format options can be found at [this link](https://www.w3schools.com/python/python_datetime.asp)

In [ ]:
the_time_now = datetime.now()
print(the_time_now)

the_time_now.strftime('%Y/%m/%d %H:%M:%S')

2022-05-21 07:28:00.135396

'2022/05/21 07:28:00'

The following code allows you to increment time.

In [ ]:
from datetime import timedelta

t_increment = timedelta(weeks = 2, days = 5, hours = 1, seconds = 33)

the_new_time = the_time_now + t_increment
print(the_new_time)

print(the_time_now - the_new_time)

2022-06-09 08:28:33.135396
-20 days, 22:59:27

## Lists in Python

So far we used a single variable to store a single value. When we want to store multiple values in a single variable, we use a "List". 

In its simplest version a list is created and initialised by placing all the values (elements) inside square brackets [] , separated by commas. 

A list will need to be of a single type and can have any number of items. However you can choose to store lists of different types (integers, floats, strings etc.)

The examples below show you some operations that we can perform on lists in Python.

In [ ]:
# Let's map the geographic makeup of Micronesia(https://en.wikipedia.org/wiki/Micronesia)
micronesia = ["Guam ", "Kiribati", "Nauru", "Northern Mariana Islands", "Palau", "Marshall Islands"]  # This is a list

print(micronesia) # Let's print this list out
print(len(micronesia))  # Length of the list

['Guam ', 'Kiribati', 'Nauru', 'Northern Mariana Islands', 'Palau', 'Marshall Islands']
6

In [ ]:
# It seems we are missing the Federated States of Micronesia, let's add it in
micronesia.append("Federated States of Micronesia") # Add an item to the end of the list
print(micronesia) # print a raw version of the list

['Guam ', 'Kiribati', 'Nauru', 'Northern Mariana Islands', 'Palau', 'Marshall Islands', 'Federated States of Micronesia']

In [ ]:
# Let's insert Fiji to the 2nd position on this list
micronesia.insert(1, "Fiji")   # Add an item to a specific location in the list - notice how the list index begins with 0
print(micronesia)

['Guam ', 'Fiji', 'Kiribati', 'Nauru', 'Northern Mariana Islands', 'Palau', 'Marshall Islands', 'Federated States of Micronesia']

In [ ]:
# Looks like we made a mistake let's remove Fiji from this list.
del micronesia[1]   # Delete a selected item from the list
print(micronesia)

['Guam ', 'Kiribati', 'Nauru', 'Northern Mariana Islands', 'Palau', 'Marshall Islands', 'Federated States of Micronesia']

In [ ]:
# Let's sort the list in reverse alphabetical order.
micronesia = sorted(micronesia, reverse=True)
print(micronesia)

['Palau', 'Northern Mariana Islands', 'Nauru', 'Marshall Islands', 'Kiribati', 'Guam ', 'Federated States of Micronesia']

In [ ]:
# Let's iterate through the list and create a new list with added prefix of Micronesia to the each element

micronesia_updated = []

for x in micronesia:
  micronesia_updated.append("Micronesia - " + x)

print(micronesia_updated)

['Micronesia - Palau', 'Micronesia - Northern Mariana Islands', 'Micronesia - Nauru', 'Micronesia - Marshall Islands', 'Micronesia - Kiribati', 'Micronesia - Guam ', 'Micronesia - Federated States of Micronesia']

We can also do this using the `map` function. The map() function takes a function (a lambda in this case) and a list and applies the function to each item in that list. More formally the map() function provides a way of applying a function to every item in an iterable.

In [ ]:
# use the map function to update each geographic element with the prefix of Micronesia
micronesia_updated_iterable = list(map(lambda item:"Micronesia - " + item, micronesia))

# The map function returns what is called an iterator which we are converting back to a list using the list() function
micronesia_updated = list(micronesia_updated_iterable)

print(micronesia_updated)

['Micronesia - Palau', 'Micronesia - Northern Mariana Islands', 'Micronesia - Nauru', 'Micronesia - Marshall Islands', 'Micronesia - Kiribati', 'Micronesia - Guam ', 'Micronesia - Federated States of Micronesia']

*Exercise: Given a list of numbers [2, 4, 6, 8, 10] and using what you have learned, how would you raise them to their power of 2. hint: use the pow() function.*

In [ ]:
num = [2,4,6,8,10]
num_pow = list(map(lambda n:pow(n,2), num))
print(num_pow)

[4, 16, 36, 64, 100]

In [ ]:
# Check if Palau is grouped under Micronesia
if "Palau" in micronesia:
  print("Yes, 'Palau' is grouped under Micronesia.")

Yes, 'Palau' is grouped under Micronesia.

## Dictionaries

Dictionaries are used to store values as key:value pairs. Notice how the following variable is different to a list, it records several sub-variables for a single value. You can also think of a dictionary as an address book where you find the address / email by looking up a person's name. A dictionary associate keys (name) with values (details) and provides you the opportunity to do lookups.

In [ ]:
vintage_car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(vintage_car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
car_model = vintage_car["model"]
print(car_model)

Mustang

In [ ]:
vintage_car["year"] = 2018
print(vintage_car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [ ]:
a_dictionary = {'Company': 'Tesla Inc', 'Stock Price': 798.15
                , 'Movement': '+15%', 'Code': 'NASDAQ:TSLA'
                , 'Time': 'After Hours · 15 February 2:00 pm EST'}

for key, value in a_dictionary.items():
  print(key + ':', value)

Company: Tesla Inc
Stock Price: 798.15
Movement: +15%
Code: NASDAQ:TSLA
Time: After Hours · 15 February 2:00 pm EST

If you were to want to represent multiple cars and their attributes you can use list of dictionaries.

*Exercise:* Consider that you have been given an array of the populations of the countries represented in Micronesia in our examples above. 

1) How would you now convert the existing list of country / territory names to countries with their relative populations.
2) How would now use filter out the two largest countries / territories in this list?

In [ ]:
#Solution (1)
# Convert existing contry with their relative populations
#   "Guam" : 168783 ,     "Kiribati" : 119446,    "Nauru" : 10834,    "Northern Mariana Islands": 57557,    "Palau" : 18092,    "Marshall Islands": 59194

micronesia = ["Marshall Islands", "Nauru", "Northern Mariana Islands","Kiribati", "Palau", "Guam "] 
population = [59194, 10834, 57557, 119446, 18092, 168783]
merge_country = zip(micronesia, population)
merge_country_dict = dict(merge_country)
print (merge_country_dict)

{'Marshall Islands': 59194, 'Nauru': 10834, 'Northern Mariana Islands': 57557, 'Kiribati': 119446, 'Palau': 18092, 'Guam ': 168783}

In [ ]:
#Solution (2)
# filter largest countries in this list

merge_country__sorted = sorted(merge_country_dict.items(), key=lambda x: x[1], reverse=True)[:2]
print(merge_country__sorted)


#sorted(mydict[1].items(), key=lambda x: x[1], reverse=True)

[('Guam ', 168783), ('Kiribati', 119446)]